<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>Never use a long word where a diminutive confabulation will suffice.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Orphaned folders (probably wont have had routing and other Angular infrastructure configured). I didnt bother with original Angular Examples as they have been superseded by Angular 2 examples:</p>
                <ul>
                    <li>IIS</li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Training Resources</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="https://mva.microsoft.com" >Microsoft Virtual Academy</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Windows Development</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a [routerLink]="['WPF']">WPF</a><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Frameworks</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a [routerLink]="['Angular2']">Angular 2</a><br />
            </div>
            <div class="col-md-4">
                <a [routerLink]="['JQuery']">JQuery</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['Bootstrap3']">Bootstrap 3</a><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Editors, IDE's and Tools</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a [routerLink]="['VisualStudio']">Visual Studio</a><br>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['VisualStudioCode']">Visual Studio Code</a><br>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['Emmet']">Emmet</a><br>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Languages</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a [routerLink]="['CSharp']">C#</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['JavaScript']">JavaScript</a><br>
            </div>
            <div class="col-md-4">
                <a [routerLink]="['TypeScript']">TypeScript</a><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Web API and OData</h2>
                <a [routerLink]="['OData']">Web API and OData Tutorial</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Applications and Websites</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a [routerLink]="['DGen']">DGen</a><br>
            </div>

        </div>
    </div>
</div>