<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h1>WPF</h1>
                <h2>Pluralsight Courses</h2>
                <a href="app/wpf/wpfmvvmindepth_coursecontents.html">WPF MVVM In Depth</a><br />
                <a href="app/wpf/wpfdatabindingindepth_coursecontents.html">WPF Data Binding in Depth</a>

                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Whats New WPF 4.0</h3>
                <a href="https://app.pluralsight.com/library/courses/wpf-whats-new-in-v4/table-of-contents">Whats New
                    WPF 4.0</a>
                <p>Date Completed: 15/08/2016</p>
                <p>Rating: ***</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <p>This course covers some of the new features in WPF 4.0. There are some good, reasonably detailed
                    modules on the new Calendar controls and the DataGrid at the beginning of the course.</p>
                <p>The Visual State Manager is now available in WPF (it was first available in SilverLight) and then
                    later on there is coverage of Graphics, Animation and Multitouch which may be of interest.</p>
                <p>However, the module on Text and ClearType is extremely in depth and feels a bit like the author was
                    either interested in investigating this topic himself or wanted to demonstrate how much knowledge he had
                    in this area. I cant really see myself using this information extensively unless I get involved in
                    a project which requires alot of text rendering. </p>
                <p>I didnt bother watching the Module on XBAP Script Interop as I cant imagine myself ever using the
                    XBAP (XAML Browser Application) features of WPF.</p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Enterprise WPF with XAML and C# from Scratch</h3>
                <a href="https://app.pluralsight.com/library/courses/enterprise-wpf-xaml-csharp-from-scratch/table-of-contents">Enterprise
                    WPF with XAML and C# from Scratch</a>
                <p>Date Completed: 16/08/2016</p>
                <p>Rating: **</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <p>This course is meant to be aimed (at least you would this so from the title) at Enterprise
                    Development.
                    The first two modules cover XAML fundamentals but are pretty basic and didn't really cover anything
                    I didn't already know. The module on Data Binding was also pretty basic.</p>
                <p>I quite liked the module on Asynchronous Programming because, although it was still quite a basic
                    level
                    module, it showed a simple demo where although the processor was tied up working out Square Roots
                    the user could still get a button to respond to a Click event. This highlighted to me the advantage
                    of asynchronous programming quite nicely.</p>
                <p>The Advanced Controls chapter might be worth a re-visit at some point to refresh my knowledge of any
                    of the following controls:
                </p>
                <ul>
                    <li>Tab Control</li>
                    <li>Data Grid</li>
                    <li>Tree View</li>
                    <li>Status Bar</li>
                    <li>Menu Control</li>
                </ul>
                <p>Similarly the modules on Animation and Styles and Templates were interesting because these are topics
                    that I dont have much experience in yet.</p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>XAML Layout in Depth</h3>
                <a href="https://app.pluralsight.com/library/courses/xaml-layout-in-depth/table-of-contents">XAML Layout
                    in Depth</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Using the Speech Recognition and Synthesis .NET APIs</h3>
                <a href="https://app.pluralsight.com/library/courses/dot-net-api-using-speech-recognition-synthesis/table-of-contents">Using
                    the Speech Recognition and Synthesis .NET APIs</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>WPF and MVVM: Advanced Model Treatment</h3>
                <a href="https://app.pluralsight.com/library/courses/wpf-mvvm-advanced-model-treatment/table-of-contents">WPF
                    and MVVM: Advanced Model Treatment</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Automating UI Tests for WPF Applications</h3>
                <a href="https://app.pluralsight.com/library/courses/wpf-applications-automating-ui-tests/table-of-contents">Automating
                    UI Tests for WPF Applications</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>WPF and MVVM: Test Driven Development of ViewModels</h3>
                <a href="https://app.pluralsight.com/library/courses/wpf-mvvm-test-driven-development-viewmodels/table-of-contents">WPF
                    and MVVM: Test Driven Development of ViewModels</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>ClickOnce Deployment Fundamentals</h3>
                <a href="https://app.pluralsight.com/library/courses/clickonce-deployment-fundamentals/table-of-contents">ClickOnce
                    Deployment Fundamentals</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Introduction to WPF Custom Controls</h3>
                <a href="https://app.pluralsight.com/library/courses/wpf-custom-controls-introduction/table-of-contents">Introduction
                    to WPF Custom Controls</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>Getting Started with Entity Framework 6</h3>
                <a href="https://app.pluralsight.com/library/courses/entity-framework-6-getting-started/table-of-contents">Getting
                    Started with Entity Framework 6</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
                <br/>
                <br/>
                <br/>
                <br/>
                <h3>WPF for the Business Programmer</h3>
                <a href="https://app.pluralsight.com/library/courses/wpf-business-programmer/table-of-contents">WPF for
                    the Business Programmer</a>
                <p>Date Completed: n/a</p>
                <p>Rating: n/a</p>
                <p><strong>Full documentation (odt format) is not available at this time</strong></p>
            </div>
        </div>
    </div>
</div>