<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>Pluralsight Courses</h2>
                <h3>Angular 2: Getting Started</h3>
                <a href="https://app.pluralsight.com/library/courses/angular-2-getting-started/table-of-contents">
                    Angular 2: Getting Started On Pluralsight
                </a><br/>
                <a [routerLink]="['Angular2GettingStarted00CourseContents']">Angular 2: Getting Started</a><br />
                <p>Date Completed: 28/02/2017</p>
                <p>Rating: *****</p>
                <p>Review not available at this time.</p>


                <h3>Angular 2: Reactive Forms</h3>
                <a href="https://app.pluralsight.com/library/courses/angular-2-reactive-forms/table-of-contents">
                    Angular 2: Reactive Forms On Pluralsight
                </a><br/>
                <a [routerLink]="['Angular2ReactiveForms00CourseContents']">Angular 2: Reactive Forms</a><br />
                <p>Date Completed: ??/??/????</p>
                <p>Rating: </p>
                <p>Review not available at this time.</p>

                <h3>Angular 2: First Look</h3>
                <a href="https://app.pluralsight.com/library/courses/angular-2-first-look/table-of-contents">
                    Angular 2: First Look On Pluralsight
                </a><br/>
                <a [routerLink]="['Angular2FirstLook00CourseContents']">Angular 2: First Look</a><br />
                <p>Date Completed: ??/??/????</p>
                <p>Rating: </p>
                <p>Review not available at this time.</p>

            </div>
        </div>
    </div>
</div>