<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2>Pluralsight Courses</h2>
                <h3></h3>
                <a href="https://app.pluralsight.com/library/courses/javascript-development-environment/table-of-contents">
                    Building a JavaScript Development Environment On Pluralsight
                </a><br/>
                <a [routerLink]="['BuildingAJavaScriptDevelopmentEnvironment00CourseContents']">Building a JavaScript Development Environment</a><br />
                <p>Date Completed: 20/01/2017</p>
                <p>Rating: *****</p>
                <p>Review not available at this time.</p>
                <br />
                <br />
                <br />
                <h2>Decimal to Hexadecimal Conversion Chart</h2>
        <table class="table" id="hexConversion">
            <thead>
                <tr>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                    <th>Dec</th>
                    <th>Hex</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>2</td>
                    <td>2</td>
                    <td>3</td>
                    <td>3</td>
                    <td>4</td>
                    <td>4</td>
                    <td>5</td>
                    <td>5</td>
                    <td>6</td>
                    <td>6</td>
                    <td>7</td>
                    <td>7</td>
                    <td>8</td>
                    <td>8</td>
                    <td>9</td>
                    <td>9</td>
                    <td style="background-color: palevioletred;">10</td>
                    <td>A</td>
                    <td>11</td>
                    <td>B</td>
                    <td>12</td>
                    <td>C</td>
                    <td>13</td>
                    <td>D</td>
                    <td>14</td>
                    <td>E</td>
                    <td>15</td>
                    <td>F</td>
                    <td>16</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>11</td>
                    <td>18</td>
                    <td>12</td>
                    <td>19</td>
                    <td>13</td>
                    <td>20</td>
                    <td>14</td>
                    <td>21</td>
                    <td>15</td>
                    <td>22</td>
                    <td>16</td>
                    <td>23</td>
                    <td>17</td>
                    <td>24</td>
                    <td>18</td>
                    <td>25</td>
                    <td>19</td>
                    <td>26</td>
                    <td>1A</td>
                    <td>27</td>
                    <td>1B</td>
                    <td>28</td>
                    <td>1C</td>
                    <td>29</td>
                    <td>1D</td>
                    <td>30</td>
                    <td>1E</td>
                    <td>31</td>
                    <td>1F</td>
                    <td>32</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>21</td>
                    <td>34</td>
                    <td>22</td>
                    <td>35</td>
                    <td>23</td>
                    <td>36</td>
                    <td>24</td>
                    <td>37</td>
                    <td>25</td>
                    <td>38</td>
                    <td>26</td>
                    <td>39</td>
                    <td>27</td>
                    <td>40</td>
                    <td>28</td>
                    <td>41</td>
                    <td>29</td>
                    <td>42</td>
                    <td>2A</td>
                    <td>43</td>
                    <td>2B</td>
                    <td>44</td>
                    <td>2C</td>
                    <td>45</td>
                    <td>2D</td>
                    <td>46</td>
                    <td>2E</td>
                    <td>47</td>
                    <td>2F</td>
                    <td>48</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>31</td>
                    <td>50</td>
                    <td>32</td>
                    <td>51</td>
                    <td>33</td>
                    <td>52</td>
                    <td>34</td>
                    <td>53</td>
                    <td>35</td>
                    <td>54</td>
                    <td>36</td>
                    <td>55</td>
                    <td>37</td>
                    <td>56</td>
                    <td>38</td>
                    <td>57</td>
                    <td>39</td>
                    <td>58</td>
                    <td>3A</td>
                    <td>59</td>
                    <td>3B</td>
                    <td>60</td>
                    <td>3C</td>
                    <td>61</td>
                    <td>3D</td>
                    <td>62</td>
                    <td>3E</td>
                    <td>63</td>
                    <td>3F</td>
                    <td>64</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>65</td>
                    <td>41</td>
                    <td>66</td>
                    <td>42</td>
                    <td>67</td>
                    <td>43</td>
                    <td>68</td>
                    <td>44</td>
                    <td>69</td>
                    <td>45</td>
                    <td>70</td>
                    <td>46</td>
                    <td>71</td>
                    <td>47</td>
                    <td>72</td>
                    <td>48</td>
                    <td>73</td>
                    <td>49</td>
                    <td>74</td>
                    <td>4A</td>
                    <td>75</td>
                    <td>4B</td>
                    <td>76</td>
                    <td>4C</td>
                    <td>77</td>
                    <td>4D</td>
                    <td>78</td>
                    <td>4E</td>
                    <td>79</td>
                    <td>4F</td>
                    <td>80</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>81</td>
                    <td>51</td>
                    <td>82</td>
                    <td>52</td>
                    <td>83</td>
                    <td>53</td>
                    <td>84</td>
                    <td>54</td>
                    <td>85</td>
                    <td>55</td>
                    <td>86</td>
                    <td>56</td>
                    <td>87</td>
                    <td>57</td>
                    <td>88</td>
                    <td>58</td>
                    <td>89</td>
                    <td>59</td>
                    <td>90</td>
                    <td>5A</td>
                    <td>91</td>
                    <td>5B</td>
                    <td>92</td>
                    <td>5C</td>
                    <td>93</td>
                    <td>5D</td>
                    <td>94</td>
                    <td>5E</td>
                    <td>95</td>
                    <td>5F</td>
                    <td>96</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>61</td>
                    <td>98</td>
                    <td>62</td>
                    <td>99</td>
                    <td>63</td>
                    <td  style="background-color: palevioletred;">100</td>
                    <td>64</td>
                    <td>101</td>
                    <td>65</td>
                    <td>102</td>
                    <td>66</td>
                    <td>103</td>
                    <td>67</td>
                    <td>104</td>
                    <td>68</td>
                    <td>105</td>
                    <td>69</td>
                    <td>106</td>
                    <td>6A</td>
                    <td>107</td>
                    <td>6B</td>
                    <td>108</td>
                    <td>6C</td>
                    <td>109</td>
                    <td>6D</td>
                    <td>110</td>
                    <td>6E</td>
                    <td>111</td>
                    <td>6F</td>
                    <td>112</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>113</td>
                    <td>71</td>
                    <td>114</td>
                    <td>72</td>
                    <td>115</td>
                    <td>73</td>
                    <td>116</td>
                    <td>74</td>
                    <td>117</td>
                    <td>75</td>
                    <td>118</td>
                    <td>76</td>
                    <td>119</td>
                    <td>77</td>
                    <td>120</td>
                    <td>78</td>
                    <td>121</td>
                    <td>79</td>
                    <td>122</td>
                    <td>7A</td>
                    <td>123</td>
                    <td>7B</td>
                    <td>124</td>
                    <td>7C</td>
                    <td>125</td>
                    <td>7D</td>
                    <td>126</td>
                    <td>7E</td>
                    <td>127</td>
                    <td>7F</td>
                    <td>128</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>129</td>
                    <td>81</td>
                    <td>130</td>
                    <td>82</td>
                    <td>131</td>
                    <td>83</td>
                    <td>132</td>
                    <td>84</td>
                    <td>133</td>
                    <td>85</td>
                    <td>134</td>
                    <td>86</td>
                    <td>135</td>
                    <td>87</td>
                    <td>136</td>
                    <td>88</td>
                    <td>137</td>
                    <td>89</td>
                    <td>138</td>
                    <td>8A</td>
                    <td>139</td>
                    <td>8B</td>
                    <td>140</td>
                    <td>8C</td>
                    <td>141</td>
                    <td>8D</td>
                    <td>142</td>
                    <td>8E</td>
                    <td>143</td>
                    <td>8F</td>
                    <td>144</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>145</td>
                    <td>91</td>
                    <td>146</td>
                    <td>92</td>
                    <td>147</td>
                    <td>93</td>
                    <td>148</td>
                    <td>94</td>
                    <td>149</td>
                    <td>95</td>
                    <td>150</td>
                    <td>96</td>
                    <td>151</td>
                    <td>97</td>
                    <td>152</td>
                    <td>98</td>
                    <td>153</td>
                    <td>99</td>
                    <td>154</td>
                    <td>9A</td>
                    <td>155</td>
                    <td>9B</td>
                    <td>156</td>
                    <td>9C</td>
                    <td>157</td>
                    <td>9D</td>
                    <td>158</td>
                    <td>9E</td>
                    <td>159</td>
                    <td>9F</td>
                    <td>160</td>
                    <td>A0</td>
                </tr>
                <tr>
                    <td>161</td>
                    <td>A1</td>
                    <td>162</td>
                    <td>A2</td>
                    <td>163</td>
                    <td>A3</td>
                    <td>164</td>
                    <td>A4</td>
                    <td>165</td>
                    <td>A5</td>
                    <td>166</td>
                    <td>A6</td>
                    <td>167</td>
                    <td>A7</td>
                    <td>168</td>
                    <td>A8</td>
                    <td>169</td>
                    <td>A9</td>
                    <td>170</td>
                    <td>AA</td>
                    <td>171</td>
                    <td>AB</td>
                    <td>172</td>
                    <td>AC</td>
                    <td>173</td>
                    <td>AD</td>
                    <td>174</td>
                    <td>AE</td>
                    <td>175</td>
                    <td>AF</td>
                    <td>176</td>
                    <td>B0</td>
                </tr>
                <tr>
                    <td>177</td>
                    <td>B1</td>
                    <td>178</td>
                    <td>B2</td>
                    <td>179</td>
                    <td>B3</td>
                    <td>180</td>
                    <td>B4</td>
                    <td>181</td>
                    <td>B5</td>
                    <td>182</td>
                    <td>B6</td>
                    <td>183</td>
                    <td>B7</td>
                    <td>184</td>
                    <td>B8</td>
                    <td>185</td>
                    <td>B9</td>
                    <td>186</td>
                    <td>BA</td>
                    <td>187</td>
                    <td>BB</td>
                    <td>188</td>
                    <td>BC</td>
                    <td>189</td>
                    <td>BD</td>
                    <td>190</td>
                    <td>BE</td>
                    <td>191</td>
                    <td>BF</td>
                    <td>192</td>
                    <td>C0</td>
                </tr>
                <tr>
                    <td>193</td>
                    <td>C1</td>
                    <td>194</td>
                    <td>C2</td>
                    <td>195</td>
                    <td>C3</td>
                    <td>196</td>
                    <td>C4</td>
                    <td>197</td>
                    <td>C5</td>
                    <td>198</td>
                    <td>C6</td>
                    <td>199</td>
                    <td>C7</td>
                    <td>200</td>
                    <td>C8</td>
                    <td>201</td>
                    <td>C9</td>
                    <td>202</td>
                    <td>CA</td>
                    <td>203</td>
                    <td>CB</td>
                    <td>204</td>
                    <td>CC</td>
                    <td>205</td>
                    <td>CD</td>
                    <td>206</td>
                    <td>CE</td>
                    <td>207</td>
                    <td>CF</td>
                    <td>208</td>
                    <td>D0</td>
                </tr>
                <tr>
                    <td>209</td>
                    <td>D1</td>
                    <td>210</td>
                    <td>D2</td>
                    <td>211</td>
                    <td>D3</td>
                    <td>212</td>
                    <td>D4</td>
                    <td>213</td>
                    <td>D5</td>
                    <td>214</td>
                    <td>D6</td>
                    <td>215</td>
                    <td>D7</td>
                    <td>216</td>
                    <td>D8</td>
                    <td>217</td>
                    <td>D9</td>
                    <td>218</td>
                    <td>DA</td>
                    <td>219</td>
                    <td>DB</td>
                    <td>220</td>
                    <td>DC</td>
                    <td>221</td>
                    <td>DD</td>
                    <td>222</td>
                    <td>DE</td>
                    <td>223</td>
                    <td>DF</td>
                    <td>224</td>
                    <td>E0</td>
                </tr>
                <tr>
                    <td>225</td>
                    <td>E1</td>
                    <td>226</td>
                    <td>E2</td>
                    <td>227</td>
                    <td>E3</td>
                    <td>228</td>
                    <td>E4</td>
                    <td>229</td>
                    <td>E5</td>
                    <td>230</td>
                    <td>E6</td>
                    <td>231</td>
                    <td>E7</td>
                    <td>232</td>
                    <td>E8</td>
                    <td>233</td>
                    <td>E9</td>
                    <td>234</td>
                    <td>EA</td>
                    <td>235</td>
                    <td>EB</td>
                    <td>236</td>
                    <td>EC</td>
                    <td>237</td>
                    <td>ED</td>
                    <td>238</td>
                    <td>EE</td>
                    <td>239</td>
                    <td>EF</td>
                    <td>240</td>
                    <td>F0</td>
                </tr>
                <tr>
                    <td>241</td>
                    <td>F1</td>
                    <td>242</td>
                    <td>F2</td>
                    <td>243</td>
                    <td>F3</td>
                    <td>244</td>
                    <td>F4</td>
                    <td>245</td>
                    <td>F5</td>
                    <td>246</td>
                    <td>F6</td>
                    <td>247</td>
                    <td>F7</td>
                    <td>248</td>
                    <td>F8</td>
                    <td>249</td>
                    <td>F9</td>
                    <td>250</td>
                    <td>FA</td>
                    <td>251</td>
                    <td>FB</td>
                    <td>252</td>
                    <td>FC</td>
                    <td>253</td>
                    <td>FD</td>
                    <td>254</td>
                    <td>FE</td>
                    <td>255</td>
                    <td>FF</td>
                    <td>256</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
        <h2>Speaking Hexadecimal</h2>
        <p>See this link for how to speak hexadecimal: <a href="http://www.bzarg.com/p/how-to-pronounce-hexadecimal/">http://www.bzarg.com/p/how-to-pronounce-hexadecimal/</a></p>
        <h2>Converting Hexadecimal to Decimal</h2>
        <p>If you consider that hexadecimal is base 16, its actually quite easy.</p>
        <p>Start from the least significant digit and work towards the most significant (right to left) multiplying the digit with increasing powers of 16 (1, 16, 256, 4096 etc. see table below) then sum the result.</p>
        <p>For example</p>
        <table class="table">
            <tr>
                <td>12 Hex</td>
                <td>2</td>
                <td>+</td>
                <td>(1 * 16)</td>
                <td>=</td>
                <td>18 Dec</td>
            </tr>
            <tr>
                <td>99 Hex</td>
                <td>9</td>
                <td>+</td>
                <td>(9 * 16)</td>
                <td>=</td>
                <td>153 Dec</td>
            </tr>
            <tr>
                <td>FB Hex</td>
                <td>11</td>
                <td>+</td>
                <td>(15 * 16)</td>
                <td>=</td>
                <td>251 Dex</td>
            </tr>
            <tr>
                <td>AF Hex</td>
                <td>15</td>
                <td>+</td>
                <td>(10 * 16)</td>
                <td>=</td>
                <td>175 Dec</td>
            </tr>
        </table> 
        <p>Remember that A = 10, B = 11, C = 12, D = 13, E = 14              and F = 15.</p>
        <p>Here is a link that describes the conversion process in detail: <a href="http://www.wikihow.com/Convert-from-Decimal-to-Hexadecimal">http://www.wikihow.com/Convert-from-Decimal-to-Hexadecimal</a></p>
        <h2>Powers of 16 : 16n</h2>
        <table class="table table-nonfluid">
            <tr>
                <td>16<sup>0</sup></td>
                <td>=</td>
                <td>1</td>
            </tr>
            <tr>
                <td>16<sup>1</sup></td>
                <td>=</td>
                <td>16</td>
            </tr>
            <tr>
                <td>16<sup>2</sup></td>
                <td>=</td>
                <td>256</td>
            </tr>
            <tr>
                <td>16<sup>3</sup></td>
                <td>=</td>
                <td>4096</td>
            </tr>
            <tr>
                <td>16<sup>4</sup></td>
                <td>=</td>
                <td>65,536</td>
            </tr>
            <tr>
                <td>16<sup>5</sup></td>
                <td>=</td>
                <td>1,048,576</td>
            </tr>
            <tr>
                <td>16<sup>6</sup></td>
                <td>=</td>
                <td>16,777,216</td>
            </tr>
            <tr>
                <td>16<sup>7</sup></td>
                <td>=</td>
                <td>268,435,456</td>
            </tr>
            <tr>
                <td>16<sup>8</sup></td>
                <td>=</td>
                <td>4,294,967,296</td>
            </tr>
            <tr>
                <td>16<sup>9</sup></td>
                <td>=</td>
                <td>68,719,476,736</td>
            </tr>
            <tr>
                <td>16<sup>10</sup></td>
                <td>=</td>
                <td>1,099,511,627,776</td>
            </tr>
            <tr>
                <td>16<sup>11</sup></td>
                <td>=</td>
                <td>17,592,186,044,416</td>
            </tr>
            <tr>
                <td>16<sup>12</sup></td>
                <td>=</td>
                <td>281,474,976,710,656</td>
            </tr>
            <tr>
                <td>16<sup>13</sup></td>
                <td>=</td>
                <td>4,503,599,627,370,496</td>
            </tr>
        </table>
        <h2>Scientific Notation</h2>
        <p>The following table attempts to describe how Scientific Notation works by providing several examples. Remember 
        Scientific Notation can be used to describe very small number as well as very large numbers!</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Scientific Notation</th>
                    <th>10 to the power of</th>
                    <th>Multiplied(+) or Divided(-) by</th>
                    <th>Decimal Notation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3.125E+07</td>
                    <td>7 = 10,000,000</td>
                    <td>3.125</td>
                    <td>31,250,000</td>
                </tr>
                <tr>
                    <td>9.00E-06</td>
                    <td>6 = 1,000,000</td>
                    <td>9.00</td>
                    <td>0.000009</td>
                </tr>
            </tbody>
        </table>
        <h2>And Finally, Binary</h2>
        <p>Signed integers use the first 31 of the 32 bits to represent the numeric value of the integer. The 32<sup>nd</sup>
            bit represents the sign of the number: 0 for positive or 1 for negative. Depending on the value of
            that bit, called the sign bit, the format of the rest of the
            number is determined. Positive numbers are stored in true
            binary format, with each of the 31 bits representing a power
            of 2, starting with the first bit (called bit 0), representing
            2<sup>0</sup> the second bit represents 2<sup>1</sup> and so on. If any bits are
            unused, they are filled with 0 and essentially ignored. For
            example, the number 18 is represented as 00000000000000000000000000010010, or more succinctly as 10010.
            These are the five most significant bits and can be used, by
            themselves, to determine the actual value.</p>
        <p>Negative numbers are also stored in binary code but in a format called two’s complement. The
        two’s complement of a number is calculated in three steps:</p>
        <ol>
            <li>Determine the binary representation of the absolute value (for example, to find –18, fi rst
        determine the binary representation of 18).</li>
            <li>Find the one’s complement of the number, which essentially means that every 0 must be
        replaced with a 1 and vice versa.</li>
            <li>Add 1 to the result.</li>
        </ol>
        <p>Using this process to determine the binary representation –18, start with the binary representation
        of 18, which is the following:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Binary</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: right;">0000 0000 0000 0000 0000 0000 0001 0010</td>
                    <td>Binary representation of 18</td>
                </tr>
                <tr>
                    <td style="text-align: right;">1111 1111 1111 1111 1111 1111 1110 1101</td>
                    <td>One's complement - invert all the bits</td>
                </tr>
                <tr>
                    <td style="text-align: right;">
                        1111 1111 1111 1111 1111 1111 1110 1101<br />
                        1<br />
                        ---------------------------------------<br />
                        1111 1111 1111 1111 1111 1111 1110 1110
                    </td>
                    <td>Finally, add 1 to the one's complement as follows:</td>
                </tr>
            </tbody>
        </table> 
        <p>So the binary equivalent of –18 is 1111 1111 1111 1111 1111 1111 1110 1110. Keep in mind that you have
        no access to bit 31 when dealing with signed integers.</p>
        <p>ECMAScript does its best to keep all of this information from you. When outputting a negative
        number as a binary string, you get the binary code of the absolute value preceded by a minus sign.</p>
    </div>
    <script>
        $("#hexConversion tr td:even").addClass('dec');
    </script>
</div>