<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <h2>Udemy Courses</h2>
        <h3>Xamarin Forms: Build Native Cross-platform Apps with C#</h3>
        <a href="https://www.udemy.com/xamarin-forms-course/learn/v4/overview">Xamarin Forms: Build Native
            Cross-platform Apps with C# On Udemy</a><br/>
        <a [routerLink]="['XamarinFormsCrossPlatform00CourseContents']">Xamarin Forms: Build Native Cross-platform Apps with C#</a><br/>
        <p>
            Date Completed: 29/12/2017
        </p>
        <p>Rating: *****</p>
        <p>
            Good course - need to go through it again and write a full summary and review.
        </p>
    </div>
</div>